html {
    background-color: #f6ffa2;
}

.main-div{
    
    height: 100vh;
    width: 100vw;
}
.players-container{
    width: 400px;
    height: 400px;
}

.chatbox-div{
    height: 100px;
    width: 300px;
}
.main-page{
    top: 6%;
    border-radius: 3%;
    padding: 5%;
    padding-top: 1%;
    margin-left: 20%;
    height: 95%;
    width: 40%;
    background-color: whitesmoke;
}
.main-icon{
    border-radius: 50%;
    width: 5%;
    height: 100%;
}
.header-div{
    height: 11%;
    width: 100%;
    background-color: #ffde59
}
.website-div{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
.profile-div{
    width: 10%;
    height: 100%;
}
.line{
    background-color: black;
    height: 100%;
    width: 0.5%;
}
